.form__error{
    border: 1px solid red !important;
}
.google__btn{
    background-color: #fff !important;
    margin-top: 10px !important;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0975);
    color: #000 !important;
}