.profile__page{
    width: 100%;
}
.profile__page__wrapper{
   
    padding: 30px 20px;
    margin: 0 auto;
max-width: 935px;
margin-bottom: 30px;

}
.profile__top{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    gap:105px;
}

.user__avatar__big{
   margin-left: 15px;
    width: 150px;   
    height:150px;
    background-color:rgb(0, 38, 255);
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 25px;
    color: #fff;
}
.user__avatar__big img{
    width: 100%;
    border-radius:50%;
}
.user__profile__details{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.detail__first{
    display: flex;
    flex: 1;
    justify-content:flex-start;
    width: 100%;
    align-items:flex-start;
    margin-bottom: 15px;
}
.detail__first h3{
    color: rgba(38, 38, 38, 1);
    font-weight: 300;
    font-size: 28px;
line-height: 32px;
margin: -5px 0 -6px;
}
.detail__first .profile__edit__btn{
    border: 1px solid rgba(222, 222, 222, 1);
    background-color:transparent;
    color: rgba(40, 39, 39, 1);
    border-radius: 4px;
    cursor: pointer;
display: block;
font-weight: 600;
padding: 5px 9px;
margin-left: 15px;
margin-right: 15px;
height:36px;
}
.detail__first .setting__btn{
    background-color:transparent;
    border: 0;
    outline:0;
    cursor: pointer;
}
.detail__second{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.detail__second span{
    margin-right: 25px;
    margin-bottom: 15px;
}
.detail__third span{
    display: inline;
font-weight: 600;
}

.profile__mobile{
    width: 100%;
    height:95vh;
    overflow-y: hidden;
}
.profile__mobile__nav{
    width: 100%;
    
    
}
.profile__nav__wrapper{
    width: 90%;
    margin: 10px auto;
    display: flex;
    align-items:center;
    height:35px;
    justify-content:space-between; 
}
.profile__nav__controls{
    display: flex;
    align-items:center;
    justify-content:flex-end;
    flex: 1;
}
.proifle__add{
    width: 25px;
    height:25px;
    background-color:transparent;
    display:flex;
    align-items: center;
    justify-content:center;
    border: 0;
    border-radius:3px;
    cursor: pointer;
}
.hamburger__btn{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color:transparent;
    border: 0;
    outline:0;
    cursor: pointer;
}
.profile__username{
    font-size: 18px;
    font-weight: 600;
    display:flex;
    align-items: center;
    justify-content:center;
}

.bottom__sheet{
    width: 100%;
    height:100%;
    background-color: #2626263a;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.bottom__sheet__body{
    width:100%;
    position:absolute;
    bottom: 0;
    background-color: #fff;
   border-top-left-radius: 35px;
   border-top-right-radius: 35px;
   height:200px;
   animation:move .1s 1 linear;
}

.bottom__sheet__top__tile{
    width: 90%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content:center;
}
.sheet__closer{
    display: inline-block;
    width: 100px;
    height:5px;
    background-color:rgb(212, 212, 212);
    border-radius:65px;
}
.sheet__accounts{
    width: 90%;
    margin: 35px auto;
    flex-direction: column;
    align-items:flex-start;
    display:flex;
}
.account_list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.add__account__list{
    width: 90%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 15px auto;
    
}
.new_account__btn{
    width: 55px;
    height: 55px;
    border: 1px solid #e9e9e9;
    background-color:transparent;
    border-radius:50%;
    margin-right: 10px;
}
.account__avatar{
    width: 55px;
    height:55px;
    background-color:#999;
    border-radius:50%;
    margin-right: 10px;
}
.account__avatar img{
    width: 100%;
    object-fit: cover;
    border-radius:50%;
}
.list__left{
    display: flex;
    align-items: center;
}
.account__name{
    font-weight: 600;
}
.custom__radio{
    width: 30px;
    height:30px;
    border: 1px solid #e9e9e9;
    border-radius:50%;
    background-color:rgb(0, 38, 255);
    display: flex;
    align-items: center;
    justify-content:center;
}
.custom__radio span{
    width: 10px;
    height: 10px;
    display:block;
    background-color:#fff;
    border-radius: 50%;
}

.bottom__sheet__down{
    animation:down .1s 1 linear;
}
@keyframes move {
    0%{
        height:0;
        opacity: 0;
    }
    100%{
        height:200px;
        opacity: 1;
    }
}

@keyframes down {
    0%{
        height:200px;
        opacity: 1;
    }
    100%{
        height:0px;
        opacity: 0;
    }
}

@media screen and (min-width:736px) {
    .profile__page__wrapper{
        width: calc(100% -48px);
    }
}

@media screen and (max-width:465px){
    .profile__page__wrapper{
        display:none;
    }
}